.header {
	align-content: center;
	background-color: orange;
}

.header {
	align-content: center;
	background-color: orange;
}

.recommendations {
	align-content: center;
}

.mab_info {
	align-content:  center;
}

.profile {
	align-content: center;
}

h2 {
	color: blue;
}

li {
	color: red;
}

label {
	color: blue;
}

span {
	color : red;
} 
